In [2]:
import json
from youtube_transcript_api import YouTubeTranscriptApi
import pandas as pd


def fetch_transcript_from_video_id(vid) -> list[dict]:
    transcript = YouTubeTranscriptApi.get_transcript(vid)
    return transcript

def save_transcript(transcript, name):
    with open(f'./transcript/transcripts/{name}.json', 'w', encoding='utf-8') as f:
        json.dump(transcript, f, ensure_ascii=False, indent=4)
    return 1

def read_transcript(name):
    with open(f'./transcript/transcripts/{name}.json', 'r', encoding='utf-8') as f:
        data = json.load(f)   
    return pd.DataFrame(data)

In [37]:
vid = 'SL1v6rbCnEg'
name = 'Mark Normand Stand-Up 06/25/15 | CONAN on TBS'
name = name.replace('/', '-')  # in case slash mess up file path

In [38]:
transcript = fetch_transcript_from_video_id(vid=vid)

In [39]:

save_transcript(transcript=transcript, name=name)

1

In [32]:
ts = read_transcript(name=name)

In [33]:
ts

                                        text    start  duration
0     I do like to drink I've got a bit of a    0.000     6.600
1      problem I got really drunk last night    3.810     5.369
2          was incredibly hungover today had    6.600     5.760
3    another beer hangover went away in that    9.179     5.521
4    the amazing thing about booze the thing   12.360     3.779
..                                       ...      ...       ...
101   sitting around like you got to marry a  290.850     2.130
102      Jew you got to marry a Jew and gays  291.810     2.980
103                      alike we'll be fine  292.980     3.340
104                                  [Music]  294.790     5.729
105                               [Applause]  296.320     4.199

[106 rows x 3 columns]